{% load menu_tags wagtailcore_tags  %}

<nav>

	{% comment %} <div class="logo">
		<a href="#">
			<h1>Out of box</h1>              
		</a>
	</div> {% endcomment %}

	<ul class="main-nav">
		{% for item in menu_items %}
			{% if item.handle == "accueil" %}
				<li class="{{ item.active_class }}" id="nav-logo">
					<svg width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
						<circle cx="21" cy="21" r="21" fill="#FEFEFE"/>
						<rect x="9.30518" y="9.08105" width="7.09958" height="23.4595" fill="black"/>
						<rect x="17.6394" y="9.08109" width="7.09958" height="23.4595" fill="black"/>
						<rect x="25.9739" y="24.515" width="7.09958" height="8.02561" fill="black"/>
						<rect x="25.9739" y="9.08109" width="7.09958" height="14.1992" fill="black"/>
					</svg>
					<a href="#{{ item.handle }}"><h1>{{ item.text }}</h1></a>
				</li>
			{% else %}
				<li class="{{ item.active_class}}">
					<a href="#{{ item.handle }}">{{ item.text }}</a>
					{% comment %} <a href="#{{ item.href }}">{{ item.text }}</a> {% endcomment %}
				</li>
			{% endif%}
		{% endfor %}
	</ul>

</nav>