{% load menu_tags wagtailcore_tags  %}
{% wagtail_site as current_site %}
<nav>

	<div class="logo">
		<a href="#{{ item.handle }}">
			{% comment %} <svg width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
				<circle cx="21" cy="21" r="21" fill="#FEFEFE"/>
				<rect x="9.30518" y="9.08105" width="7.09958" height="23.4595" fill="black"/>
				<rect x="17.6394" y="9.08109" width="7.09958" height="23.4595" fill="black"/>
				<rect x="25.9739" y="24.515" width="7.09958" height="8.02561" fill="black"/>
				<rect x="25.9739" y="9.08109" width="7.09958" height="14.1992" fill="black"/>
			</svg> {% endcomment %}
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 207.02 207.02">
				<defs><style>.cls-1{fill:#fff;}</style></defs>
				<g id="Calque_2" data-name="Calque 2">
					<g id="Calque_1-2" data-name="Calque 1">
						<g id="Logo_vertical" data-name="Logo vertical">
							<path class="cls-1" d="M103.51,207A103.51,103.51,0,1,0,0,103.51,103.51,103.51,0,0,0,103.51,207ZM131.56,41.39h33.78v56.3H131.56Zm0,67.56h33.78v56.3H131.56Zm-45-67.56H120.3V165.25H86.52Zm-45,0H75.26V165.25H41.48Z"/>
						</g></g></g>
					</svg>
			<h1>{{ current_site.site_name }}</h1>
		</a>
	</div>

	<ul class="main-nav">
		
		<li class="">
			<a href="#projets">Nos références</a>
		</li>
		
		{% for item in menu_items %}
				<li class="{{ item.active_class}}">
					<a href="#{{ item.handle }}">{{ item.text }}</a>
					{% comment %} <a href="#{{ item.href }}">{{ item.text }}</a> {% endcomment %}
				</li>
		{% endfor %}
	</ul>

</nav>