{% extends "base.html" %}

{% load wagtailcore_tags  wagtailimages_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}

	<header id="accueil">
		{{ page.title_header|richtext }}

		{% if page.img_header %}
			{% image page.img_header original as img %}
			<div class="container-img_header">
				<img src="{{ img.url }}" alt="img.title">
			</div>
		{% endif %}
	</header>


	<article class="container-projects" id="projets">

		<div class="article_intro">
			{{ page.title_projets|richtext }}
		</div>

		<div class="container-project">
			{% for projet in projets_list %}
				<div class="container-project_item">
					{% image projet.projet_image width-300 as img %}
					<div class="container-project_img">
						<img src="{{ img.url }}" alt="img.title">
						<span class="click_project">
							<svg width="25" height="26" viewBox="0 0 25 26" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.849199 22.8075L0.115084 23.5416L1.58331 25.0099L2.31743 24.2757L0.849199 22.8075ZM24.9826 1.18052C24.9826 0.607136 24.5178 0.142321 23.9444 0.142321H14.6007C14.0273 0.142321 13.5625 0.607136 13.5625 1.18052C13.5625 1.75389 14.0273 2.21871 14.6007 2.21871H22.9062V10.5243C22.9062 11.0976 23.371 11.5625 23.9444 11.5625C24.5178 11.5625 24.9826 11.0976 24.9826 10.5243V1.18052ZM2.31743 24.2757L24.6785 1.91463L23.2103 0.446401L0.849199 22.8075L2.31743 24.2757Z"/></svg>
						</span>
					</div>
					<div class="container-project_info">
						<h2>{{ projet.projet_nom }}</h2>
						<p>{{ projet.projet_description|richtext }}</p>
						{% comment %} <p>{{ projet.projet_link }}</p> {% endcomment %}
					</div>
				</div>
			{% endfor %}
		</div>
	</article>

	<article class="container-words" id="wordscloud">

		<div class="article_intro">
			{{ page.title_wordsCloud|richtext }}
		</div>

		<div class="container-words_cloud">
			{% for word in word_list %}
				<div class="container-word_item">
					<h4>{{ word.mot }}</h4>
				</div>
			{% endfor %}
		</div>
	</article>

	<article class="container-clients" id="clients">

		<div class="container-client">
			{% for client in client_list %}

				{% image client.image_client width-150 as img %}
				<div class="container-client_item">
					<img src="{{ img.url }}" alt="img.title">
				</div>

			{% endfor %}
		</div>
	</article>
	

	<article class="container-team" id="equipe">

		<div class="article_intro">
			{{ page.title_team|richtext }}
		</div>

		<div class="container-users">
			{% for user in equipe_list %}
				<div class="container-user">
					
					{% image user.image_user width-400 as img %}
					<div class="container-img-user">
						<img src="{{ img.url }}" alt="img.title">
					</div>
					<div class="container-user_info">
						<p>{{ user.nom_user }}</p>
						<p>{{ user.description_user|richtext }}</p>
						{% if user.external_link %}
							<div class="container-user_link">
								<a href="{{ user.external_link }}" target="_blank">
									{{ user.external_link }}
								</a>
							</div>
						{% endif %}
					</div>
				</div>
			{% endfor %}
		</div>
	</article>

	<article class="container-contact" id="contact">
		{{ page.title_contact|richtext }}
	</article>

	<article class="container-footer" id="footer">

		<div class="article_intro">
			{{ page.title_footer|richtext }}
		</div>
		
		<div class="container-footer_info">
		{% for footer in footer_list %}
			<div class="container-footer_item">
				
				{% image footer.logo_contact width-100 as img %}
				<div class="container-footer_logo">
					<img src="{{ img.url }}" alt="img.title">
				</div>
				<p>{{ footer.info_contact|richtext }}</p>
				{% comment %} 
					
				<p>{{ footer.projet_description|richtext }}</p>
				<p>{{ footer.projet_link }}</p> {% endcomment %}
			</div>
		{% endfor %}
		<p>2021© Out of box - tous droits réservés - <a href="#">mentions légales</a></p> 
		</div>

	</article>

{% endblock %}