/.vagrant
/wagtaildemo/settings/local.py
*.pyc
/media
/Vagrantfile.local
db.sqlite3

share/*
/env/*
*.mp4
uwsgi_params
/out-of-box-assets


# Django project
/media/
/static/
*.sqlite3

# venv
/bin
/lib
pyvenv.cfg


# Python and others
__pycache__
*.pyc
.DS_Store
*.swp
/venv/
/tmp/
/.vagrant/
/Vagrantfile.local
node_modules/
/npm-debug.log
/.idea/
.vscode
coverage
.python-version

outOfBox/static/js/vite
outOfBox/static/js/dist
