@font-face {
  font-family: "Futura-PT";
  src: url("/static/fonts/Futura-PT-Demi.5bdac91b83b2.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Futura-PT";
  src: url("/static/fonts/FuturaPTLight.a15258a71bcf.otf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Futura-PT";
  src: url("/static/fonts/FuturaPTMedium.bd99f124d37c.otf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Futura-PT";
  src: url("/static/fonts/FuturaPTBold.f3483f64fe4f.otf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Futura-PT";
  src: url("/static/fonts/FuturaPTExtraBold.075bf4f82e72.otf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Futura-PT";
  src: url("/static/fonts/FuturaPTHeavy.5dfc35f20430.otf") format("truetype");
  font-weight: 800;
}
