@font-face {
  font-family: "Futura-PT";
  src: url("/static/fonts/Futura-PT-Demi.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Futura-PT";
  src: url("/static/fonts/FuturaPTLight.otf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Futura-PT";
  src: url("/static/fonts/FuturaPTMedium.otf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Futura-PT";
  src: url("/static/fonts/FuturaPTBold.otf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Futura-PT";
  src: url("/static/fonts/FuturaPTExtraBold.otf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Futura-PT";
  src: url("/static/fonts/FuturaPTHeavy.otf") format("truetype");
  font-weight: 800;
}
