:root {
  --dark-color: #161616;
  --dark-color-3: rgba(22, 22, 22, 0.3);
  --dark-color-1: rgba(22, 22, 22, 0.1);

  --light-color: #fefefe;
  --light-color-6: rgba(254, 254, 254, 0.6);
  --light-color-2: rgba(254, 254, 254, 0.2);

  --primary-color: #6f15ff;
  --second-color: #c84a3f;
  --third-color: #ecef4a;

  --width-default: 1px;
  --border-: solid var(--dark-color) var(--width-default);
  --border-radius: 10px;
}

/***********/
/* COMMUNS */
/***********/
* {
  font-family: "Darker-Grotesque", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::selection {
  color: var(--light-color);
  background-color: var(--dark-color);
}

html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--dark-color);
  color: var(--light-color);
}
body.no-scroll {
  height: 100vh;
  overflow: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span {
  font-family: "Darker-Grotesque", sans-serif;
}

h3 {
  font-size: 2.2rem;
  font-weight: 600;
  color: var(--light-color-6);
}
a {
  text-decoration: none;
  color: inherit;
  /* text-decoration: underline; */
}
li {
  list-style: none;
}
article {
  padding: 150px 50px;
  border: 1px var(--dark-color) solid;
}
.article_intro {
  margin-bottom: 30px;
}

/* nav */
nav {
  position: fixed;
  width: 100%;
  padding: 20px 30px;
  z-index: 10;
}
.main-nav {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}
.main-nav a {
  font-size: 1.1rem;
}
.main-nav li {
  cursor: pointer;
}
#nav-logo {
  display: flex;
  align-items: center;
  margin-right: auto;
}
#nav-logo h1 {
  margin-left: 15px;
}
.main-nav a {
  color: var(--light-color);
  transition: color 200ms;
}
.main-nav.dark-color a {
  color: var(--dark-color);
}

/* header */
header {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: var(--dark-color);
}
.header-headeline {
  position: absolute;
  z-index: 5;
  left: 50px;
  bottom: 100px;
  width: 90vw;
}
.firstline h2 {
  font-size: 3rem;
  font-weight: 400;
  color: var(--light-color);
  line-height: 2.5rem;
}
.secondline h2 {
  display: inline-block;
  font-size: 6rem;
  font-weight: 600;
  color: var(--light-color);
  line-height: 5.5rem;
  border-bottom: 2px solid var(--light-color);
}
.container-img_header {
  overflow: hidden;
}
#myVideo {
  position: relative;
  right: 0;
  bottom: 0;
  /* top: 50%; */
  /* left: 50%; */
  /* min-width: 100%;
    min-height: 100%; */
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  /* transform: translateX(-50%) translateY(-50%); */
  /* object-fit: cover; */
  /* z-index: -1; */
}
.container-img_header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* projects */
.container-projects {
  background-color: var(--dark-color);
  color: var(--light-color-6);
}
.container-projects p {
  font-size: 1.1em;
  font-weight: 500;
}
.container-project {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 800px;
  margin: 0 auto;
}
.container-project_item {
  display: flex;
  align-items: center;
  margin: 75px 0;
}
.container-project_full:nth-child(even) {
  align-self: flex-end;
  flex-direction: row-reverse;
}
.container-project_full:nth-child(even) .container-project_info {
  text-align: right;
}

.container-project_img {
  position: relative;
  display: flex;
  border-radius: 15px;
  width: 250px;
  /* overflow: hidden; */
}
.container-project_img::before {
  content: "";
  position: absolute;
  display: block;
  left: 25px;
  top: 15px;
  width: 100%;
  height: 100%;
  border: 1px solid var(--light-color-2);
  border-radius: var(--border-radius);
}
.container-project_img img {
  z-index: 2;
  border-radius: var(--border-radius);
  width: 100%;
}
.container-project_info {
  margin: 0 50px;
}
.click_project {
  position: absolute;
  z-index: 2;
  width: 30px;
  height: 30px;
  right: 0;
  top: 0;
  background-color: var(--dark-color);
  transition: all 300ms;
}
.click_project svg {
  position: absolute;
  width: 10px;
  height: 10px;
  fill: var(--light-color);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.click_project path {
  stroke-width: 5px !important;
}
.container-project_info h3 {
  display: inline-block;
}

.container-project_item:hover .click_project {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: var(--light-color-6);
  transform: translate(50%, -50%);
}
.container-project_item:hover .click_project svg {
  fill: var(--dark-color);
}
/* words */
#wordscloud {
  /* color: var(--dark-color);
  background-color: var(--light-color); */
  padding: 300px 50px;
}
/* .container-words_cloud{
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(4, 1fr);
    justify-items: center;
    grid-row-gap: 30px;
    max-width: 900px;
    margin: 0 auto;
} */
.container-words_cloud {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 80vh;
}
/* .container-word_item{
  flex: 1;
} */
.container-words_cloud h4 {
  font-family: "anybody", "Darker-Grotesque", sans-serif;
  font-size: 1.2rem;
  font-size: calc(var(--distLetter) * 1rem + 1.2rem);
  transform: skew(
    calc(var(--skewLetter) * 3deg),
    calc(var(--skewLetter) * -3deg)
  );
  /* font-weight: 200; */
  opacity: calc(var(--distLetter) + 0.2);
  font-variation-settings: "wght" calc(var(--distLetter) * 800 + 200),
    "wdth" calc(var(--distLetter) * 60 + 100);
  /* font-weight: calc(var(--distLetter)*600 + 200); */
  /* transition: all 100ms ease-in-out; */
}

/* team */
.container-users {
  display: grid;
  grid-template-columns: repeat(4, minmax(150px, 1fr));
  max-width: 1000px;
  gap: 10px;
  margin: 0 auto;
}
.container-user:hover .container-img-user::after {
  background-color: rgba(0, 0, 0, 0.2);
}
.container-img-user {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 240px;
  overflow: hidden;
}
.container-img-user::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  transition: background-color 200ms ease-in-out;
}
.container-user_info {
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  padding: 3px 10px 8px 10px;
  bottom: 0;
  color: var(--dark-color);
  background-color: var(--light-color);
}
p.team_name {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 600;
}
p.team_job {
  font-weight: 500;
  line-height: 0.9rem;
}
.container-user_info path {
  stroke: var(--dark-color);
  /* stroke-width: 1px; */
}
.container-user img {
  width: 100%;
}

/* clients */
.container-clients {
  background-color: var(--dark-color);
}
.container-client {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 800px;
  margin: 0 auto;
  gap: 30px;
}
.container-client_item {
  width: 150px;
}
.container-client_item img {
  width: 100%;
}

/* contact */
#footer {
  padding: 50px;
}
.container-footer_info {
  display: flex;
  justify-content: space-between;
  max-width: 1300px;
  margin: 0 auto;
}
.container-footer_left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
.container-footer_left-contact {
  display: flex;
  align-items: center;
}
.container-footer_logo {
  padding-bottom: 10px;
}
.footer-contact,
.footer-message {
  width: 50%;
}
.footer-message {
  text-align: center;
}
.container-footer_map {
  margin-left: 100px;
}
#gmap_canvas {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
}
.mapouter {
  position: relative;
  text-align: right;
  width: 450px;
  height: 250px;
}
.gmap_canvas {
  overflow: hidden;
  background: none !important;
  width: 450px;
  height: 250px;
}

/* modal */
.modal {
  position: fixed;
  top: 82px;
  left: 0;
  width: 700px;
  height: 100vh;
  background: var(--dark-color);
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: all 0.35s ease-in;
  z-index: 100;
}
.modal.modal-right {
  left: inherit;
  right: 0;
}
.modal.is-visible {
  visibility: visible;
  opacity: 1;
}

.modal-dialog {
  position: relative;
  width: 100%;
  height: 100%;
  background: var(--light-color);
  overflow: auto;
  cursor: default;
  z-index: 100;
}
.modal-dialog * {
  color: var(--dark-color);
}
.modal-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--dark-color);
  padding: 10px 20px 10px 50px;
}

.modal-top h3 {
  font-size: 1.5rem;
}
.close-modal {
  display: flex;
  cursor: pointer;
  border: none;
  padding: 5px;
  background-color: inherit;
}
.close-modal:hover {
  background-color: inherit;
}
#cross-project path {
  stroke: var(--dark-color);
  stroke-width: 3px;
}
.modal-content {
  padding: 10px 100px 10px 50px;
}
.modal p + p {
  margin-top: 1rem;
}
.modal-img {
  display: flex;
  justify-content: space-between;
}
.modal-img img {
  width: 100%;
}
.modal-img-main {
  width: 85%;
}
.container-img_gallery {
  display: flex;
  flex-direction: column;
  width: 10%;
}
.container-img_gallery img + img {
  margin-top: 10px;
}

/* ANIMATIONS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
[data-animation] .modal-dialog {
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

[data-animation].is-visible .modal-dialog {
  opacity: 1;
  transition-delay: 0.2s;
}

[data-animation="slideInOutDown"] .modal-dialog {
  transform: translateY(100%);
}

[data-animation="slideInOutTop"] .modal-dialog {
  transform: translateY(-100%);
}

[data-animation="slideInOutLeft"] .modal-dialog {
  transform: translateX(-100%);
}

[data-animation="slideInOutRight"] .modal-dialog {
  transform: translateX(100%);
}

[data-animation="zoomInOut"] .modal-dialog {
  transform: scale(0.2);
}

[data-animation="rotateInOutDown"] .modal-dialog {
  transform-origin: top left;
  transform: rotate(-1turn);
}

[data-animation="mixInAnimations"].is-visible .modal-dialog {
  animation: mixInAnimations 2s 0.2s linear forwards;
}

[data-animation="slideInOutDown"].is-visible .modal-dialog,
[data-animation="slideInOutTop"].is-visible .modal-dialog,
[data-animation="slideInOutLeft"].is-visible .modal-dialog,
[data-animation="slideInOutRight"].is-visible .modal-dialog,
[data-animation="zoomInOut"].is-visible .modal-dialog,
[data-animation="rotateInOutDown"].is-visible .modal-dialog {
  transform: none;
}

@keyframes mixInAnimations {
  0% {
    transform: translateX(-100%);
  }

  10% {
    transform: translateX(0);
  }

  20% {
    transform: rotate(20deg);
  }

  30% {
    transform: rotate(-20deg);
  }

  40% {
    transform: rotate(15deg);
  }

  50% {
    transform: rotate(-15deg);
  }

  60% {
    transform: rotate(10deg);
  }

  70% {
    transform: rotate(-10deg);
  }

  80% {
    transform: rotate(5deg);
  }

  90% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
