@media only screen and (max-width: 1200px)  {
	.container-footer_info{
		flex-direction: column-reverse;
		flex-wrap: wrap;
		align-items: center;
	}
	.container-footer_map{
		margin-left: 0;
	}
	.container-footer_left-contact{
		flex-direction: column-reverse;
		margin: 50px 0 20px 0;
	}
	.container-footer_item{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.footer-contact{
		margin: 30px 0;
	}
	.footer-message{
		margin: 30px 0;
	}
	.footer-copyright{
		text-align: center;
	}
}

@media only screen and (max-width: 1100px) {
	.container-users {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
		justify-content: center;
		/* max-width: inherit;
		width: 100%; */
	}
	.container-img-user{
		max-height: 200px;
	}
	.footer-contact, .footer-message {
		width: 100%;
	}
}
@media only screen and (max-width: 1100px) {
	.container-users {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
		justify-content: center;
		/* max-width: inherit;
		width: 100%; */
	}
	.container-img-user{
		max-height: 200px;
	}
}
@media only screen and (max-width: 900px) {
	.modal{
		/* width: calc(100vw - 30px); */
		width: calc(80vw);
	}
	.modal-top{
		padding: 10px 30px;
	}
	.modal-content{
		padding: 10px 30px;	
	}
	.modal-img{
		flex-direction: column;
	}
	.modal-img-main{
		width: 100%;
	}
	.container-img_gallery{
		flex-direction: row;
		flex-wrap: wrap;
		width: inherit;
	}
	.container-img_gallery img{
		width: 75px;
	}
	.container-img_gallery img + img{
		margin-top: inherit;
	}
}
@media only screen and (max-width: 700px) {
	.header-headeline{
		left: 20px;
	}
	.firstline h2 {
		font-size: 2.2rem;
		line-height: 1.5rem;
	}
	.secondline h2 {
		font-size: 4rem;
		line-height: 4.5rem;
	}
	div.container-project_item > a{
		flex-direction: column;
	}
	.main-nav li:not(#nav-logo){
		display: none;
	}
	.container-footer_map, .mapouter, .gmap_canvas, .container-footer_map iframe {
		width: 100%;
	}
	
}
@media only screen and (max-width: 600px) {
	article, #footer, #wordscloud {
		padding: 150px 10px;
	}
	#projets{
		padding: 150px 50px;
		overflow-x: hidden;
	}
	.container-words_cloud h4{
		font-size: calc(var(--distLetter) * 0.8rem + 0.8rem);
	}
	.secondline h2{
		font-size: 3rem;
	}
	.firstline h2{
		font-size: 2rem;
		line-height: 0.5rem;
	}
}